.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
.streamlit/secrets.toml

data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep

models/candidates/
*.egg-info/
build/
dist/
.DS_Store
data/sample/
